/* Site setup*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    background-color: blue;
    color: #0A2342;
    font-family: sans-serif;
    margin: 0;
}

.gridcontainer > * {
    background-color: #EAD9C5;
    text-align: center; 
    font-size: 30px;
}

.gridcontainer {
    display: grid;
    grid-template-areas: 
      "header"
      "menu" 
      "main" 
      "footer";
    grid-template-rows: 80px 50px auto 50px;
    grid-gap: 3px;
    margin: 0 auto;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.logo {
  width: 100px;
  height: auto;
  transition: ease-in-out 0.5s;
}
.logo:hover{
  width: 110px;
}

.menu ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding-top: 15px;
}

.menu ul li {
  transition: ease-in-out 0.5s;
  padding: 0px 15px;
}

.menu ul li:hover {
  font-size: 120%;
}

a {
  color: #0A2342;
  text-decoration: none;
}
a:active {
  color: #DCEBFA;
}

/* Main setup*/
.main {
  background-color: #FFFFFF;
  display: grid;
  grid-template-areas: 
      "title"
      "carrusel" 
      "contact";
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: auto;
}

/* Title setup */
.title {
  padding-top: 50px;
}

.change-title::after {
  color: #33598A;
  content: "FRONTEND DESIGN";
  animation: changetext 10s infinite;
}

@keyframes changetext {
  0% { content: "FRONTEND DESIGN"; }
  20% { content: "ANIMATE"; }
  40% { content: "FRONTEND CODE"; } 
  60% { content: "CREATE BRAND IDENTITY"; }
  80% { content: "CREATE PRINT MATERIAL"; }
  100% { content: "FRONTEND DESIGN"; }
}

/* Project carousel setup */
.carrusel {
  background-color: #EAD9C5;
  padding-top: 50px;
}

.contact {
  padding-top: 50px;
}

/* Footer setup */
.footer {
  background-color: rgb(184, 112, 24);
}

/* Media query: 800px+ */
@media (min-width: 800px){
    body {
        background-color: red;
    }
    .menu ul { 
      font-size: 25px;
      padding-top: 30px;
    }
    .gridcontainer {
        grid-template-areas: 
            "header . menu"
            "main main main"
            "footer footer footer";
        grid-template-columns: 2fr 1fr 4fr;
        grid-template-rows: 90px auto 100px;
    }
}
